<div class="container">
    <div class="card">
      <input type="file" (change)="onFileSelected($event)" name="uploadfile" id="img" style="display:none;"/>
      <label for="img">
        <img [src]="ppUrl" class="card__image">
      </label>
      <p class="card__name">{{ pseudo }}</p>
      <div class="user-status">
        Status: {{ status }}
      </div>
      <form class="btn draw-border" (ngSubmit)="changeUsername()" #profileForm="ngForm">
        <label for="newPseudo">Change pseudo: </label><br>
        <input type="text" id="newPseudo" name="newPseudo" [(ngModel)]="newPseudo" required>
      </form>
      <form class="btn draw-border" (ngSubmit)="handleFriendSubmit()" #profileForm="ngForm">
        <label for="pseudoFriend">Add a friend:</label><br>
        <input type="text" id="pseudoFriend" name="pseudoFriend" [(ngModel)]="pseudoFriend" required>
      </form>
    </div>
    <div class="card">
      <button routerLink="/message" class="btn draw-border">Message</button>
      <button routerLink="/chat-room" class="btn draw-border">Chat Room</button>
      <button class="btn draw-border" (click)="change2AF()" [class.active]="doubleAuth">2AF</button>
    </div>
    <div *ngIf="notifs" class="notif-list">
      <ul>
        <li class="notif" *ngFor="let notif of notifs">
          <div class="name">
            {{ notif.content }}
          </div>
          <div *ngIf="notif.type !== 'BLOCK' && notif.type !== 'MATCH_ACCEPTED'">
            <button type="submit" class="accept-button" (click)="acceptRequest(notif)">Accept</button>
            <button type="button" class="refuse-button" (click)="refuseRequest(notif)">Refuse</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  