<header>
  <div class="heading">
    <h4>POZO GAME!</h4>
  </div>
  <div class="container">
    <nav>
      <ul class="nav-links">
        <li><a routerLink="/">HOME</a></li>
        <li *ngIf="authenticated">
          <a routerLink="/leaderboard">LADDER</a>
        </li>
        <li *ngIf="!authenticated">
          <a routerLink="/auth">LOGIN</a>
        </li>
        <li *ngIf="authenticated">
          <a routerLink="/game">GAME</a>
        </li>
        <li *ngIf="authenticated">
          <a routerLink="/profile">PROFILE</a>
        </li>
        <li *ngIf="authenticated">
          <a routerLink="/auth" (click)="logout()">LOGOUT</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
