* {
  margin: 0px;
  margin-left: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.heading {
  /* align-items: center; */
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}

.container {
  width: 100%;
}

.body-text {
  display: flex;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: center;
  /* margin-top: 10vh; */
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: teal;
  font-family: "Montserrat", sans-serif;
}

.heading {
  display: flex;
  flex-wrap: nowrap;
  color: white;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1vw;
  font-size: calc(10px + 1.5vw);
}

.nav-links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  /* width: 30%; */
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 1vh;
  font-weight: bold;
  font-size: calc(10px + 1.5vw);
  padding: 1% 1%;
  margin-left: 1vw;
  margin-right: 1vw;

}

.nav-links a:hover:not(.active) {
  background-color: lightseagreen;
}

.nav-links li a.active {
  background-color: #4caf50;

}