* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body-text {
  display: flex;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: teal;
  font-family: "Montserrat", sans-serif;
}

.heading {
  display: flex;
  flex-wrap: nowrap;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 5vh;
}

.nav-links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 1vh;
  font-weight: bold;
  font-size: 2vh;
  padding: 5% 5%;

}

.nav-links a:hover:not(.active) {
  background-color: lightseagreen;
}

.nav-links li a.active {
  background-color: #4caf50;

}