<div class="container">
  <div class="friends-list">
    <ul>
      <li class="friend" *ngFor="let friend of friends" [class.selected]="friend === selectedFriend" (click)="onClickFriend(friend)">
        <img [src]="friend.imageUrl" />
        <div class="name">
          {{ friend.name }}
        </div>
      </li>
    </ul>
  </div>
  <div class="chat">
    <div class="chat-header" *ngIf="selectedFriend">
      Chatting with {{ selectedFriend.name }}
    </div>
    <div class="chat-messages" *ngIf="selectedFriend">
      <!-- <div *ngFor="let message of selectedFriend.chat" class="message">
        <span class="sender">{{ message.sender }}:</span> {{ message.message }}
      </div> -->
    </div>
    <div class="chat-input" *ngIf="selectedFriend">
      <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage(newMessage)" placeholder="Type a message..." />
      <button (click)="sendMessage(newMessage)">Send</button>
    </div>
  </div>
</div>
