<div class="container">
  <div class="friends-list">
    <ul>
      <li class="friend" *ngFor="let friend of friends" [class.selected]="friend === selectedFriend" (click)="onClickFriend(friend)">
        <img [src]="friend.pp" />
        <div class="name">
          {{ friend.name }}
        </div>
      </li>
    </ul>
  </div>
  <div class="chat">
    <div class="chat-header" *ngIf="selectedFriend">
      Chatting with {{ selectedFriend.name }}
    </div>
    <div class="chat-messages" *ngIf="selectedFriend">
      <div *ngFor="let message of conversation.reverse()" class="message">
        <span class="sender">{{ message.sender }}:</span> {{ message.content }}
      </div>
    </div>
    <div class="chat-input" *ngIf="selectedFriend">
      <input type="text" [(ngModel)]="message" (keyup.enter)="sendMessage(message)" placeholder="Type a message..." />
      <button (click)="sendMessage(message)">Send</button>
    </div>
  </div>
</div>
