<div class="container">
  <div *ngIf="!friends">
    <h1>There is no friend inside the list</h1>
  </div>
  <ul>
    <li class="friend" *ngFor="let friend of friends" [class.selected]="friend === selectedFriend" (click)="onClickFriend(friend)">
      <button id="friendpp" type="submit" (click)=friendProfilePage(friend)>
        <img [src]="friend.pp" />
      </button>
      <div class="name">
        {{ friend.name }}
      </div>
    </li>
  </ul>
  <div *ngIf="friends" class="chat">
    <div class="chat-header" *ngIf="selectedFriend">
      Chatting with {{ selectedFriend.name }}
    </div>
    <div class="chat-messages" *ngIf="selectedFriend">
      <button (click)="blockFriend()">Block him</button>
      <div *ngFor="let message of conversation.reverse()" class="message">
        <span class="sender">{{ message.sender }}:</span> {{ message.content }}
      </div>
    </div>
    <div class="chat-input" *ngIf="selectedFriend">
      <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage(newMessage)" placeholder="Type a message..." />
      <button (click)="sendMessage(newMessage)">Send</button>
    </div>
  </div>
</div>
