body {
  background-color: rgb(185, 38, 38);
}

#gameContainer {
  text-align: center;
}

#gameBoard {
  border: 4px solid;
}

#scoreText {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 100px;
  color: rgb(66, 191, 221);
}

#resetBtn {
  font-family: "Permanent Marker", cursive;
  font-size: 22px;
  width: 100px;
  height: 50px;
  border: 4px solid;
  border-radius: 15px;
  cursor: pointer;
  color: rgb(66, 191, 221);
  background-color: rgb(185, 38, 38);
}
