<div class="container">
    <div class="input">
      <form (ngSubmit)="submitRoom()">
        <p>Create a room:</p>
        <input id="input-case" type="text" [(ngModel)]="roomName" name="roomName" placeholder="Name" />
        <input id="input-case" type="password" [(ngModel)]="roomPassword" name="roomPassword" placeholder="Password" />
        <button type="submit">Submit</button>
      </form>
      <div class="checkbox">
        <input type="checkbox" [(ngModel)]="allRoomChecked" (change)="onCheckboxChange()" name="all-room">
        <label for="all-room">All room</label>
      
        <div *ngIf="allRoomChecked">
          <p>Search a room:</p>
          <input id="input-case" type="text" [(ngModel)]="roomSearch" (keyup.enter)="findRoom(roomSearch)" placeholder="Search ..." />
        </div>
      </div>
      <div class="room-list">
        <ul>
          <li class="room" *ngFor="let room of rooms" [class.selected]="room === selectedRoom" (click)="onClickRoom(room)">
            <div *ngIf="room" class="name">
              {{ room.name }}
              <button *ngIf="room === selectedRoom && joined" type="button" class="quit-button" (click)="quitRoom()">Quit</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <div class="select-room" *ngIf="selectedRoom">
      <div class="chat" *ngIf="roomStatus === 'PUBLIC'">
        <div *ngIf="joined">
          <div class="chat-header">
            Chat in <u>{{ selectedRoom.name }}</u> room
          </div>
          <div>
            <label for="lang">Invite a friend: </label>
            <select id="user-list" [(ngModel)]="friendInviteRoom">
              <option *ngFor="let userToAddRoom of friendsToInvite" [value]="userToAddRoom.name">{{ userToAddRoom.name }}</option>
            </select>
            <button id="send-request" (click)="sendInviteRoom(friendInviteRoom)">Send</button>
          </div>          
          
          <div class="chat-messages" *ngIf="roomStatus === 'PUBLIC' && conversation">
            <div *ngFor="let message of conversation.reverse()" class="message">
              <span class="sender"><em>{{ message.sender }}</em></span>: {{ message.content }}
            </div>
          </div>
          <form *ngIf="userStatus === 'ADMIN'">
            <label for="lang">Room Status: </label>
            <select id="room-status" (change)="onStatusSelected($event)">
              <option value="">{{ selectedRoom.status }}</option>
              <option *ngFor="let option of options" [value]="option">{{ option }}</option>
            </select>
          </form>
          <div *ngIf="selectedStatus === 'PROTECTED'" class="input">
            <input type="text" [(ngModel)]="newPwd" (keyup.enter)="newRoomPwd()" placeholder="Enter the Password." />
          </div>
          <div class="chat-input" *ngIf="selectedRoom">
            <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage(newMessage)" placeholder="Type a message..." />
            <button (click)="sendMessage(newMessage)">Send</button>
          </div>
        </div>
        <div *ngIf="!joined && allRoomChecked">
          <button type="submit" class="join-button" (click)="joinRoom()">Join</button>
        </div>
      </div>
      <div *ngIf="roomStatus === 'PROTECTED' && allRoomChecked && selectedRoom" class="input">
        <input type="text" [(ngModel)]="selectedRoomPwd" (keyup.enter)="verifyRoomPwd()" placeholder="Enter the Password of the room to get access!" />
      </div>
    </div>
    <div *ngIf="joined && selectedRoom">
      <div *ngFor="let member of members" class="members" [class.selected]="member === selectedMember"(click)="onMemberClick(member)">
          {{ member.pseudo }}
          <div *ngIf="member.login !== login && member === selectedMember" >
            <select [(ngModel)]="memberOption">
              <option *ngFor="let memberOptions of memberOptions" [value]="memberOptions"> {{ memberOptions }}</option>
            </select>
            <input *ngIf="memberOption === 'Mute'" type="text" [(ngModel)]="muteTime" placeholder="Time to mute in second" />
            <button (click)="handleMemberOption(memberOption, member)">Send</button>
          </div>    
      </div>
    </div>
  </div>
  
