.quit-button {
  background-color: #f44336;
  /* margin-left: 1vw; */
  color: white;
  /* padding: 10px 20px; */
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
  size: 100%;
  /* font-size: 16px; */
}

.join-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#friend-list { 
  flex: 1;
  display: block;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 100%;
  background: #EEE;
  list-style-type: none;
}

.container {
  display: block;
}

#input-case{
  width:calc(100px + 1.5vw);
  font-size:calc(10px + 1.5vh);
  color: white;
  background-color: darkblue;
  border: 0.2vh solid teal;
  margin: 0.5vh;

}

.input {
  display: flex;
  font-size:calc(10px + 1.5vh);    
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  padding: 0.5vh;
  border: 0.2vh solid teal;
  color: white;
  background-color:darkblue;
}

.checkbox {
  margin: 1vw;
  font-size:calc(10px + 1.5vh);
}

.room-list{
  align-items: center;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size:calc(10px + 1.5vh);
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.placeholder {
  color: #999;
}

.room {
  width: calc(100px + 1.5vw);
  height: calc(20px + 1.5vh);
  border: 1px solid teal;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: scroll;
  background-color: darkblue;
}

.room .name {
  font-size: calc(10px + 1.5vw);
  margin-left: 0.5vh;
}

.room.selected {
  background: #43A047;
  color: white;
}

.room.selected img {
  border-color: white;
}

.room:not(.selected):hover {
  background: #DDD;
  text-decoration: underline;
}

.chat {
  flex: 1;
  border: 1px solid teal;
  padding: 2vh;
  margin-top: 2vh;
  background-color: darkslateblue;
}

.chat-header {
  width: 100%;
  font-weight: bold;
  margin-bottom: 1vh;
}

.chat-messages {
  margin-top: 1vh;
  margin-bottom: 1vh;
  border: 1px solid gold;
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  border: teal;
  margin-bottom: 5px;
}

.chat-input {
  display: flex;
  align-items: center;
}

.chat-input input {
  flex: 1;
  padding: 5px;
  border: 1px solid teal;
  margin-right: 10px;
  background-color: darkblue;
  color: white;
}

.chat-input button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

#user-list, #room-status, #user-option{
  background-color: darkblue;
  color: white;
  border: teal;
  margin-right: 1vw;
  margin-bottom: 1vh;
}

#send-request {
  background-color: #4CAF50;
  color: white;
  border: teal;
}

  /*
  background-color: darkblue;
  color: white;
  border: teal;
  margin-right: 1vw;
  margin-bottom: 1vh; 
  */

.members {
  margin-right: 1vw;
  margin-left: 1vw; 
  margin-top: 1vh;
  margin-bottom: 1vh; 
  color: white;
  background-color: darkblue;
  border: 1px solid teal;
  cursor: pointer;
  display: flex;
  align-items: center;
}