<div class="container">
    <form (ngSubmit)="submitRoom()">
      <p>Create a room:</p>
      <input class="input" type="text" [(ngModel)]="roomName" name="roomName" placeholder="Name" />
      <input class="input" type="text" [(ngModel)]="roomPassword" (keyup.enter)="submitRoom()" name="roomPassword" placeholder="Password" />
      <button type="submit">Submit</button>
    </form>
    <p>Search a room:</p>
    <input class="input" type="text" [(ngModel)]="roomSearch" (keyup.enter)="findRoom(roomSearch)" placeholder="Search a room ..." />
    <div class="room-list">
      <ul>
        <li class="room" *ngFor="let room of rooms" [class.selected]="room === selectedRoom" (click)="onClickRoom(room)">
          <div class="name">
            {{ room.name }}
          </div>
        </li>
      </ul>
    </div>
    <div class="chat">
      <div class="chat-header" *ngIf="selectedRoom">
        Chatting with {{ selectedRoom.name }}
      </div>
      <div class="chat-messages" *ngIf="selectedRoom">
        <div *ngFor="let message of conversation.reverse()" class="message">
          <span class="sender">{{ message.sender }}:</span> {{ message.content }}
        </div>
      </div>
      <div class="chat-input" *ngIf="selectedRoom">
        <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage(newMessage)" placeholder="Type a message..." />
        <button (click)="sendMessage(newMessage)">Send</button>
      </div>
    </div>
  </div>
  
