<div id="canvasMaster">
  <canvas #canvas width="{{ width }}" height="{{ height }}"></canvas><br />

  <div *ngIf="inGame" id="textDiv">{{gameData.players[0].pseudo}} VS {{gameData.players[1].pseudo}}</div>

  <div *ngIf="loguedIn">
    <div *ngIf="!privateGameInvit">
      <button (click)="enterQueueClassic()" id="searchBtn" *ngIf="!inGame && !searchingGame">FIND CLASSIC GAME</button>
      <button (click)="enterQueueCustom()" id="searchBtn" *ngIf="!inGame && !searchingGame">FIND CUSTOM GAME</button>
      <button (click)="leaveQueue()" id="searchBtn" *ngIf="searchingGame && !inGame">CANCEL QUEUE {{ queueTimeElapsed }}</button>
      <br />
      <br />
    </div>
  </div>
</div>
