/* You can add global styles to this file, and also import other style files */
html{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/047/160/908/original/pxsprite-space.gif?1646911392) ; 
    background-repeat: no-repeat;
    background-size: cover;
}

app-root{
    text-align: center;
}