<form [formGroup]="userForm" (ngSubmit)="saveUser()">
  <h1 mat-dialog-title>First time login</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Pseudo</mat-label>
      <input formControlName="pseudo" matInput />
      <mat-error *ngIf="pseudo && pseudo.invalid && !userForm.get('pseudo')?.hasError('pseudoAlreadyExists')">Invalid pseudonyme</mat-error>
      <mat-error *ngIf="userForm.get('pseudo')?.hasError('pseudoAlreadyExists')">Pseudo is already taken</mat-error>
    </mat-form-field>

    <mat-divider></mat-divider>

      <mat-checkbox color="primary" formControlName="doubleAuth">Activate 2FA ?</mat-checkbox>

      <mat-divider></mat-divider>

    <label for="file">Profile Picture (default one is your intra's pic):</label>
    <input formControlName="file"
    accept=".jpg,.jpeg,.png,.gif"
    id="file"
    type="file"
    class="form-control"
    (change)="onFileChange($event)">
    <img [src]="localProfilePicUrl" width="175">
    <mat-error *ngIf="imgTooBig">File is too big</mat-error>
  </div>

  <div mat-dialog-actions>
    <button [disabled]="userForm.invalid || userForm.pending || imgTooBig" mat-raised-button color="primary" >SAVE INFO</button>

  </div>
</form>
